
/* new added */
.pine-box { 
	border: 1px solid #ddd;
	padding: 5px 10px 5px 10px; 
	margin: 10px 0 10px 0; 
	background-color: #fff; 
	-webkit-box-shadow: 2px 3px 4px 2px #667a7a;
	box-shadow: 1px 2px 4px rgb(34, 25, 25, 0.4);
	
	}
.pine-box h2 {
	padding: 5px 4px 3px 30px;
	margin-bottom: 6px;
	font-size: 18px;
	background: url(/style/images/pin.png) no-repeat left; 
	border-bottom: 1px dotted #ccc;
	}
	
 .pine-box .imgBox {
 	text-align: center;
 	float: left;
 }
 .pine-box .imgBox img {width: 270px;}
 
 .pine-box  .textBox {
    float:right;
 }
 .pine-box .pageinfo {
 	text-align: left;
 }

.fullname  {
	padding: 5px 10px 5px 20px; 
	background: url(/style/images/author_mini.png) no-repeat left;
	font-style:italic;
	}	
.date  {
	padding: 5px 10px 5px 20px; 
	background: url(/style/images/date_mini.png) no-repeat left;
	font-style:italic;

	}
.edit {
	padding: 5px 10px 5px 20px; 
	background: url(/style/images/edit_mini.png) no-repeat left;
	font-style:italic;

}
.title a { 
	font-size: 20px;
	color: #111;
	font-weight: bold; 
	text-decoration: none;
}

.pageshort {
	border-bottom: 1px dotted black;
	min-height: 110px;
}

.pageshort > p {
	margin-top: 5px;
	margin-bottom: 0px;
}

.pageintroduction {
	padding: 0 0  0 290px;
	font-weight: bold;
}


#pagedepartment {
  	background:url(/style/images/folder.png)  no-repeat left;
	padding: 10px 40px 10px 45px;
	margin-bottom: 20px;  
	}

#pagecontent h1 {
	margin: 10px 0 10px 0;
	font-size: 24px ;
	line-height: 25px;
}

#mainanounces {
	background: url(/style/images/megaphone.png) no-repeat left;
	margin-left: 100px;
	font-size: 2em;
	padding: 20px 2px 20px 40px;
}
#mainarticles {
	background: url(/style/images/article.png) no-repeat left;
	padding: 10px 2px 10px 40px;
		margin-left: 100px;
}
#mainforum {
	background: url(/style/images/forummain.png) no-repeat left;
	padding: 10px 2px 10px 40px;
		margin-left: 100px;
}

.ui-helper-reset {
	list-style-position: initial;
}




