


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */

@media screen {
.carousel {
  height: 400px;
  margin-bottom: 20px;
  margin-top: -20px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  color: #eee;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color: #eee;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 400px;
}

}

@media handheld {
.carousel {
  height: 100px;
  margin-bottom: 20px;
  margin-top: -20px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  color: #eee;
  text-shadow:2px 1px 1px #222;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 100px;
  background-color: #eee;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100px;
}

}




