/* -- tylko dla forum -- */
.forum table {
	width:100%; 
	margin-top: 10px; 
	}

.forum  table  thead  th {
	background-color: #333;
	vertical-align: middle;
	border: 3px solid #fff;
	font-weight:bold;
	font-size: 1.4em; 
	color:#d0d0d0;
	padding: 5px;
	text-indent:10px;
	}

.forum  table  tbody  td {
	background-color: #f9f9f9;
	vertical-align: middle;
	padding: 5px;
	border: 3px solid #fff;
	}
.forum  table  tbody  td hr {
	border-bottom: 1px dotted #ccc;
	padding: 4px;	}

.forum span {margin: 4px;}

.forum span > a {
	display: inline-block;
	line-height: 25px;
	padding: 3px;
	
}

.col1 { 
	width: 400px; }
.col2 {
	width: 100px%; }
.col3 {
   width: 200px; }

