.myNavbar {
  position: absolute;
  z-index: 1000;
  top:0;
  width: 100%;
}

.upperBar {
  color: white;
  font-size: 20px;
  height: 35px;
  line-height: 35px;
  background-color: #222;
}
.upperBar span { padding: 0 10px;}

span.rightMenu { float: right;}

.menuCloseBtn {
  cursor: pointer;
}


#linkarea {position: absolute; width: 100%; margin: 0;
  color:#333; padding:10px 0; background-color: #fcfcfc; z-index: 1000;
border-bottom: 2px solid #666;}
			#linkarea h1 {text-shadow: 0px 2px 2px #ccc;}
			#linkarea ul {margin-top:10px;list-style:none;}
			#linkarea ul li {
				 list-style:none;
				border-top:solid 1px #ccc; padding: 3px 0;
      }
      #linkarea ul li a {color: #444;}


  #bottomlinkarea {color:#FFF; padding:10px 0; background-color: #222;}
        #bottomlinkarea h1 {text-shadow: 0px 1px 1px #000000;}
        #bottomlinkarea ul {margin-top:10px;list-style:none;}
        #bottomlinkarea ul li{ list-style:none; border-top:solid 1px #414141; padding: 3px 0;}