body { font:13px/1.4em "Helvetica", Arial, sans-serif;} 
#body {background: #272729 url(/style/images/bg.png) repeat-x top;}
#body-gal {background: #FFF url(/style/images/bg_gal.png) repeat-x top;}
/* Content */
#wrapper{}
#header {height:101px;margin:1px 10px 5px 10px;}
#header-pages {height:86px;margin:10px 10px 5px 10px;}
#content{width:100%;margin-top:-100px;padding-bottom:0px;min-height:200px;background-color:#FFF;padding-top: 100px;}
.shadow {background:#FFF url(/style/images/content-bg.png) no-repeat top center;}
#logo {margin-top:1px;}
#slider {height:330px;margin-bottom:0px;position:relative;}
#footer {width:100%;color:#FFF; padding:20px 0;}
#footer h1 {text-shadow: 0px 1px 1px #000000;}
#footer ul {margin-top:10px;list-style:none;}
#footer ul  li{ list-style:none; border-top:solid 1px #414141; padding: 3px 0;}
#footer ul.social-icons  li{display:inline;margin-right:5px;border:none;}
#footer ul.social-icons {margin-bottom:20px;}
#tail {width:100%; min-height:20px; color:#000;background-color:#FFF;padding:15px 0;text-align:center;}
a {color: #2da8f8; text-decoration: none;} /*#2DA8F8*/
a:hover {color:#FF0000;}
spacer {height:20px;}
.main-section {padding-top:20px;background-color:#FFF;margin:0px auto;}

/* Headings */
h1 {font-size:1.5em;}
p {margin:10px 0;}

/* Testimonials section */
div.testimonials {font:20px/26px Georgia, Times, serif;color:#3e4548;text-align:center; margin-top:20px;margin-bottom:20px;}
span.testimonial-message {font:30px/36px Georgia, "Times New Roman", Times, serif;color:#a4a4a4;}
#submit-form input[type="text"]{width: 120px;}
#submit-form input[type="submit"] {background: url("/style/images/subscribe-single.png") no-repeat scroll 0 0 transparent;border: medium none;cursor: pointer;height: 27px;position: relative;top:2px;text-indent: -9999px;width: 90px;}

/* Menu */
#menu {}
#menu ul {list-style:none;float:right;margin:5px 0px 0px 0px;}
#menu ul li ul {list-style:none;float:right;margin:0px;background-color:#FFF;}
#menu ul li ul li{font:11px/18px "Helvetica", Arial, sans-serif;color:#000000;text-decoration:none;padding:0px 3px 1px 3px;}
#menu ul li {margin-right:15px;display:inline;}
#menu ul li span {border-bottom:3px solid #2da8f8;}
#menu ul li  {font:17px/20px "Helvetica", Arial, sans-serif;color:#D2D2D2;text-shadow: 0px 1px 1px #000000;text-decoration:none; 
	padding: 0 0 3px 0; background: none; }
#menu ul li a {color:#D2D2D2;text-shadow: 0px 1px 1px #000000;text-decoration:none; padding-bottom:3px;}
ul li.dir:hover{background-color: #FFF; -moz-border-radius-topleft: 5px;-moz-border-radius-topright: 5px;}
#menu ul li.last {margin-right:0px;}


/* frame for images */
.frame{float:left; padding:3px;border:1px solid #AAAAAA;margin:0px 10px 10px 0px;-moz-border-radius: 3px;}

/* gallery styles */
#gallery .frame:hover{-moz-transform: rotate(-4deg);-webkit-transform: rotate(-4deg);} 
#gallery { margin: 10px auto; background-color: white; text-align: center; width: 820px;}

/*contact form */
input[type="text"], input[type="password"] {height:22px;border:1px solid #CCCCCC;width:325px;}

#contact_form {margin:10px 0px;width:430px;}
#contact_form select {width: 330px;}
#contact_form textarea {border:1px solid #CCCCCC;width:325px;}
#contact_form label {float:left;width:100px;}
#contact_form input[type="submit"] {float:right; width: 330px; heigth: 22px; }
.map {margin:10px 0px;}

ul {list-style-image:url("/style/images/797.png"); list-style-position:inside;
	margin-bottom: 20px;margin-top: 10px;}
ol {padding: 0 0 0 20px;}
ol li {padding: 0 0 0 10px;}

/* Icons on text homepge */
h1.image-info {background:url(/style/images/info_button_32.png) no-repeat left center; padding:10px 0px 0px 40px; height:32px;}
h1.image-search {background:url(/style/images/search_32.png) no-repeat left center; padding:10px 0px 0px 40px; height:32px;}
h1.image-home {background:url(/style/images/home_32.png) no-repeat left center; padding:10px 0px 0px 40px; height:32px;}
/* new added */
.pine-box { 
	border: 1px solid #ddd;
	padding: 5px 10px 5px 10px; 
	margin: 10px 0 10px 0; 
	background-color: #fff; 
	-webkit-box-shadow: 2px 3px 4px 2px #667a7a;
	box-shadow: 1px 2px 4px rgb(34, 25, 25, 0.4);
	
	}
.pine-box h2 {
	padding: 5px 4px 3px 30px;
	margin-bottom: 6px;
	font-size: 18px;
	background: url(/style/images/pin.png) no-repeat left; 
	border-bottom: 1px dotted #ccc;
	}
	
 .pine-box .imgBox {
 	text-align: center;
 	float: left;
 }
 .pine-box .imgBox img {width: 270px;}
 
 .pine-box  .textBox {
    float:right;
 }
 .pine-box .pageinfo {
 	text-align: left;
 }

.fullname  {
	padding: 5px 10px 5px 20px; 
	background: url(/style/images/author_mini.png) no-repeat left;
	font-style:italic;
	}	
.date  {
	padding: 5px 10px 5px 20px; 
	background: url(/style/images/date_mini.png) no-repeat left;
	font-style:italic;

	}
.edit {
	padding: 5px 10px 5px 20px; 
	background: url(/style/images/edit_mini.png) no-repeat left;
	font-style:italic;

}
.title a { 
	font-size: 20px;
	color: #111;
	font-weight: bold; 
	text-decoration: none;
}

.pageshort {
	border-bottom: 1px dotted black;
	min-height: 110px;
}

.pageshort > p {
	margin-top: 5px;
	margin-bottom: 0px;
}

.pageintroduction {
	padding: 0 0  0 290px;
	font-weight: bold;
}


#pagedepartment {
  	background:url(/style/images/folder.png)  no-repeat left;
	padding: 10px 40px 10px 45px;
	margin-bottom: 20px;  
	}

#pagecontent h1 {
	margin: 10px 0 10px 0;
	font-size: 24px ;
	line-height: 25px;
}

#mainanounces {
	background: url(/style/images/megaphone.png) no-repeat left;
	margin-left: 100px;
	font-size: 2em;
	padding: 20px 2px 20px 40px;
}
#mainarticles {
	background: url(/style/images/article.png) no-repeat left;
	padding: 10px 2px 10px 40px;
		margin-left: 100px;
}
#mainforum {
	background: url(/style/images/forummain.png) no-repeat left;
	padding: 10px 2px 10px 40px;
		margin-left: 100px;
}

.ui-helper-reset {
	list-style-position: initial;
}





