<!doctype HTML>
<html>
    
<div class="lift:surround?with=viewer;at=content">
    <head_merge> 
       <style>
       p.courseInfo {font-weight: bold;}
       </style>
     
    </head_merge>
  <div class="jumbotron">
      <div class="container">
        <h1>Portal edukacyjny XX LO <br /> im. Zbigniewa Herberta <br/>w Gdańsku</h1>
        <p>Poniżej znajdują się dostępne lekcje dla klas. Aby mieć dostęp do kursu musisz być zalogowany i posiadać prawo dostępu do kursu. 
        Prawo to nadaje nauczyciel uczący przedmiotu i przygotowujący materiały</p>
      
      </div>
    </div>
<br/>
<div id="coursesList"  data-lift="view.CoursesSn.showMyCourses">
     <div class="row ">
         <div class="col-lg-1"></div>
         <div class="col-lg-10">
     <ul class="list-group">
     <li class="courseItem list-group-item">

          <h2 >Brak</h2>
          <h3>
                        <span class="text-muted subjectName" > </span>
                        <span class="text-muted classInfo" > Klasy:  </span>
           </h3>
          <p class="courseInfo"></p>
          <p> <a class="btn btn-success courseLink" href="#"  role="button"  >Przejdź do kursu</a>

        </li>
    </ul>
             </div>
         <div class="col-lg-1"></div>
      </div>
</div>
   
   </div>
</html>