<!doctype HTML>
<html>

<div class="lift:surround?with=viewer;at=content">
    <head_merge>
        <style>
            p.courseInfo {font-weight: bold;}
        </style>

    </head_merge>
    <br/>
        <div  data-lift="view.ExamsSn.showExams">
            <div class="well"><h2>Sprawdziany i kartkówki <small class id="nowDate"></small></h2>

            </div>
            <div class="row ">
                <div class="col-lg-6"></div>

            </div>
        </div>

        <div data-lift="view.ExamsSn.showChecked">
            <div class="row ">
                <div class="col-lg-4"></div>

            </div>
        </div>




</div>
</html>