<!doctype HTML>
<html>

<div class="lift:surround?with=viewer;at=content">
    <head_merge>
        <style>
            p.courseInfo {font-weight: bold;}
        </style>

    </head_merge>
    <br/>
        <div  >
            <div class="well" data-lift="view.ExamsSn.nowTime"><h2>Sprawdziany i kartkówki <small class id="nowDate"></small></h2></div>
            <div class="row ">
                <div class="col-lg-6" data-lift="view.ExamsSn.showExams"><div>
                    <h1>Teraz</h1>
                    <span id="contentHere"></span>
                </div></div>
                <div class="col-lg-6" data-lift="view.ExamsSn.showChecked"><div>
                    <h1>Zakończone</h1>
                    <span id="contentHere"></span>
                </div></div>
            </div>
        </div>


</div>
</html>