<!DOCTYPE html>
<html>
    <body class="lift:content_id=main">
        <div id="main" class="lift:surround?with=viewer;at=content">
            <head_merge><link rel="stylesheet" type="text/css" href="/style/register.css" />
                <script type="text/javascript" charset="utf-8" src="/style/common_users.js"></script>
            </head_merge>

            <div class="container_12">

            <div >
               <h1>Funkcjonalność jeszcze niedostępna ...</h1>
                </div>
                
                
                    <p id="addInfo"></p>
                </div>
                <br/>
                 <br/>
        </div>
    </body>
</html>

