<!doctype HTML>
<html>

<div class="lift:surround?with=viewer;at=content">
    <head_merge>
        <script type="text/javascript" src="/jquery/dejavu.js"></script>
        <script type="text/javascript" src="/jquery/showexam.js"></script>
        <style>
            p.courseInfo {font-weight: bold;}
            .checkbox, .radio {
                border: 1px solid #E3E3E3;
                border-radius: 4px;
                background-color: #F5F5F5;
                box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
                padding: 5px;
            }
            #fixedButton { position: fixed; top: 50px; right: 2px; }
            #timeToEnd {font-weight: bold; }
        </style>

    </head_merge>
    <br/>
    <div  data-lift="view.PerformExamSn.oneExam">
        <div class="well"><h3 id="descript"></h3>
            <h4>Zakończenie: <small id="endTime"></small></h4>
        </div>
        <div class="row " id="test">
            <div>Zadania/div>

        </div>
    </div>
    <form style="display:none" data-lift="view.PerformExamSn.getAnswers">
       <input id="answers" type="text" />

    </form>

        <button id="fixedButton"  class="btn btn-lg btn-danger"
                title="zapisz" onclick="showQuiz.pressedSave()">
            <span class="glyphicon glyphicon-save"></span>
            <br/><span id="timeToEnd">1:45</span>
        </button>






</div>
</html>